# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### NetBeans template
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IntelliJ
out/
.idea/
lib/