.idea/
/FlightsSOAPWS/nbproject/private/
/3-SOAP-FlightsWS/nbproject/private/
/3-SOAP-FlightsWS/build/
/3-SOAP-HotelsWs/nbproject/private/
/3-SOAP-HotelsWs/build/
/3-SOAPJavaClient/nbproject/private/
/3-SOAPJavaClient/build/
/3-SOAPWebClient/nbproject/private/
/3-SOAPWebClient/build/
/3-SOAPJavaClient/dist/