.idea/
/FlightsSOAPWS/nbproject/private/
/3-SOAP-FlightsWS/nbproject/private/
/3-SOAP-FlightsWS/build/
/3-SOAP-HotelsWs/nbproject/private/
/3-SOAP-HotelsWs/build/
/3-SOAPJavaClient/nbproject/private/
/3-SOAPJavaClient/build/
/3-SOAPWebClient/nbproject/private/
/3-SOAPWebClient/build/
/3-SOAPJavaClient/dist/
/REST-FlightsWS/nbproject/private/
/REST-FlightsWS/build/
/REST-HotelsWS/nbproject/private/
/REST-HotelsWS/build/

/RESTWebClient/nbproject/private/
/RESTWebClient/build/
/RESTJavaClient/nbproject/private/
/3-SOAPWebClient/dist/