<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Alta vuelo</title>
</head>
<body>
<div class="container">
    {{ template "menu" .}}
    <div id="content" style="padding-left: 20px; padding-right: 20px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Alta vuelo</h3>
            </div>
            <div class="panel-body container-fluid">
                <form method="POST" action="/apicall/flights">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-plane"></span>
                                    <input type="text" class="form-control" placeholder="Nº Vuelo" name="Code" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-pushpin"></span>
                                    <input type="text" class="form-control" placeholder="Ciudad origen" name="DepartureCity"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-time"></span>
                                    <input type="time" class="form-control" placeholder="Hora de salida"
                                           name="DepartureTime" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-info-sign"></span>
                                    <input type="text" class="form-control" placeholder="Compañia" name="Company" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-pushpin"></span>
                                    <input type="text" class="form-control" placeholder="Ciudad destino" name="ArrivalCity"
                                           required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon glyphicon glyphicon-time"></span>
                                    <input type="time" class="form-control" placeholder="Hora de llegada"
                                           name="ArrivalTime" required>
                                </div>
                            </div>
                            <button class="btn btn-primary pull-right" type="submit">Alta vuelo</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>